.form-log input[type="text"]{
    width: 50%;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 1vw;
}
input[type="email"]{
    width: 50%;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 1vw;
}
.form-log input[type="tel"]{
    width: 50%;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 1vw;
}
.form-log input[type="file"]{
    width: 30%;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 1vw;
    float: right;
}
.radio{
    width: 50%;
    min-height: 50px;
    padding: 5px 20px;
    font-size: 1vw;
}
input[type="password"]{
    width: 50%;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 1vw;
}
input[type="submit"]{
    width: 25%;
    font-size: 1vw;
    color: #eaeaea;
    border: 0;
    min-height: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: #a62c32;
}
input[type="submit"]:hover{
    background-color: #611519;
}
.color{
    background-color: #eaeaea3d;
}
textarea{
    width: 50%;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 1vw;
}